/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root{

  scroll-padding-top: 8rem;
}
.hero {
  background: linear-gradient(#1f2937, #111827);
  border-radius: 0.5rem;
}

.section-title {
  font-weight: bold;
}
.animated-heading {
  font-size: 2.5rem;
  font-weight: bold;
}

.word {
  opacity: 0;
  display: inline-block;
  animation: fadeIn 0.8s ease forwards;
}

.delay-1 {
  animation-delay: 1s;
}

.delay-2 {
  animation-delay: 2s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .animated-heading {
    font-size: 2rem;
  }
}